<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    style
        include ../static/about.css
</head>
<body>
<h1>This is all about of Ankush who will teaches you</h1>
<div class="about">
    <div>
    
        <p>He study many of language and create many web project,
        he has also expericence of web technologies and  he teaches 10+ Programming language 

    </div>
    <div class='anku'>
        <img src="/static\ankush.jpg" height=200px class="nav" id="img" >
        <br> Ankuh Kumar
    </div>
</div>

</body>
</html>