<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countact us</title>
    style
       include ../static/contactUs.css
</head>
<body>
    h2=message
    <h1>How can we help you</h1>
    <div id="con">
        our contact number:7050260451
    </div>
    <div id="email">
        our email No:learprogram@123gmail.com
    </div>
     
    <form action="/contactUs" method="post" id="contact" class="form">
        <h3>Put your suggetion or ask any question </h3>
        <div>
            <textarea name="textarea" id="textarea" cols="30" rows="15"></textarea>
        </div>
        <div><button>submitQuery</button></div>
    </form>
</body>
</html>