<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ourservices</title>
    style
        include ../static/service.css
</head>
<body>
    <h1>we are providing many services regarding progrmaming</h1>
    <h3>
        <li>Python</li>
        <li>Javascript</li>
        <li>c++</li>
        <li>C</li>
        <li>java</li>
        <li>php</li>
        <li>html</li>
        <li>css</li>
        <li>operating system</li>
        <li>Data structure</li>

    </h3>
  
</body>
</html>