<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ourservices</title>
    style
      include ../static/service.css
      include ../static/styl.css
</head>
<body>
    <header>
        <div class="container">
            <!-- <img src="D:\htmlcoding/code.jpg" class="nav" id="img" > -->
            <div  id="cout">  <img src="/static\com.jpg" id="img" ></div>
            <div class="nav" id="cout-1"><a href="/">Home</a> </div>
            <div class="nav" id="cout-2"><a href="/about">About</a></div>
            <div class="nav" id="cout-3"><a href="/service">Services</a> </div>
            <div class="nav" id="cout-4"><a href="/contactUs">ContactUs</a></div>
            <!-- <div  id="cout-5">
                <div><input type="text" placeholder="search"></div>
            </div> -->
           
        </div>
       
    </header>
    <h1>we are providing many services regarding progrmaming</h1>
    <h3>
        <li>Python</li>
        <li>Javascript</li>
        <li>c++</li>
        <li>C</li>
        <li>java</li>
        <li>php</li>
        <li>html</li>
        <li>css</li>
        <li>operating system</li>
        <li>Data structure</li>

    </h3>
  
</body>
</html>